# ignore local resources #
phpmyadmin/
postfixadmin/
info.php

# ignore config files #
config/db.php
application/config/database.php
application/config/config.php

# ignore cache folders #
application/cache/*
phpdoc-cache-*