/*-------------------------
	General Styles
--------------------------*/


html {
  background:url('img/bg.png') #fff;
}

body {
  font: 15px arial, sans-serif;
}

a, a:visited {
  text-decoration:none;
  outline:none;
  color:#54a6de;
}

a:hover {
  text-decoration:underline;
}

/*-------------------------
	Block classes
--------------------------*/

.centered {
  position: absolute;
  right: 10%;
  left: 10%;
}

/*-------------------------
	Block IDs
--------------------------*/

#hide {
  display: none;
}

#logout {
	float: right;
}